  <h6>Select Dates</h6>
  <ion-item lines="none">
    <ion-icon name="calendar-outline" slot="start"></ion-icon>
    <ion-label>
      <ion-datetime placeholder="23-07-2020" display-format="DD-MM-YYYY"></ion-datetime>
    </ion-label>
    <ion-icon name="chevron-forward" slot="end"></ion-icon>
  </ion-item>

  <h6>Pickup Location</h6>
  <ion-item lines="none">
    <ion-icon name="location-outline" slot="start"></ion-icon>
    <ion-label>
      <ion-input placeholder="Muscat"></ion-input>
    </ion-label>
    <ion-icon name="chevron-forward" slot="end"></ion-icon>
  </ion-item>

  <h6>Select Dates</h6>
  <ion-item lines="none">
    <ion-icon name="calendar-outline" slot="start"></ion-icon>
    <ion-label>
      <ion-datetime placeholder="23-07-2020" display-format="DD-MM-YYYY"></ion-datetime>
    </ion-label>
    <ion-icon name="chevron-forward" slot="end"></ion-icon>
  </ion-item>

  <h6>Pickup Location</h6>
  <ion-item lines="none">
    <ion-icon name="location-outline" slot="start"></ion-icon>
    <ion-label>
      <ion-input placeholder="Muscat"></ion-input>
    </ion-label>
    <ion-icon name="chevron-forward" slot="end"></ion-icon>
  </ion-item>

