<ion-content>


  <ion-slides class="mainSlide" #slidePrincipal>
    
    <ion-slide>

      <form (ngSubmit)="login( fLogin )" #fLogin="ngForm">
        <ion-grid fixed>

          <ion-row>
            <ion-col>
              <img src="/assets/CarWashApp.png">
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col>
              
                <ion-list>
                  
                  <ion-item>
                    <ion-label>Usuario: </ion-label>
                    <ion-input name="userName" type="email" [(ngModel)]="loginUser.UserName" required></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label>Contraseña: </ion-label>
                    <ion-input name="password" type="password" [(ngModel)]="loginUser.Password" required></ion-input>
                  </ion-item>

                </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit"
                          color="primary"
                          shape="round"
                          expand="block">
                Login
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </form>
    


    </ion-slide>

    <ion-slide>
        
            <form (ngSubmit)="registro( fRegistro )" #fRegistro="ngForm">

              <ion-grid fixed>
              
              <ion-row>
                <ion-col>
                    <img src="/assets/img/avatar.png">
                </ion-col>
              </ion-row>

                <ion-row>
                    <ion-col>
                        
                        <ion-list>

                          <ion-item>
                            <ion-label>Nombre:</ion-label>
                            <ion-input name="nombre"
                                        type="text"
                                        [(ngModel)]="registerUser.UserName"
                                        required></ion-input>
                          </ion-item>

                          <ion-item>
                            <ion-label>Apellidos:</ion-label>
                            <ion-input name="nombre"
                                        type="text"
                                        [(ngModel)]="registerUser.UserName"
                                        required></ion-input>
                          </ion-item>

                          <ion-item>
                            <ion-label>Usuario:</ion-label>
                            <ion-input name="nombre"
                                        type="text"
                                        [(ngModel)]="registerUser.UserName"
                                        required></ion-input>
                          </ion-item>

                          <ion-item>
                            <ion-label>Password:</ion-label>
                            <ion-input name="password"
                                        type="password"
                                        [(ngModel)]="registerUser.Password"
                                        required></ion-input>
                          </ion-item>

                          <ion-item>
                            <ion-label>Confirmar Password:</ion-label>
                            <ion-input name="password"
                                        type="password"
                                        [(ngModel)]="registerUser.Password"
                                        required></ion-input>
                          </ion-item>

                          <ion-item>
                            <ion-label>Email:</ion-label>
                            <ion-input name="email" 
                                       type="email"
                                       [(ngModel)]="registerUser.Email"
                                       required></ion-input>
                          </ion-item>
  
                          <ion-item>
                            <ion-label>N° Telefono:</ion-label>
                            <ion-input name="email" 
                                       type="email"
                                       [(ngModel)]="registerUser.PhoneNumber"
                                       required></ion-input>
                          </ion-item>

                        </ion-list>
                    </ion-col>
                </ion-row>
                
                <ion-row>
                <ion-col>
                    <ion-button type="submit"
                                color="primary"
                                shape="round">
                        Crear usuario
                    </ion-button>
                </ion-col>
            </ion-row>
            </ion-grid>
            </form>
        
  
  
      </ion-slide>


  </ion-slides>



</ion-content>


<ion-footer no-border>
  <ion-toolbar>
    
    <ion-row>

      <ion-col>
          <ion-button shape="round"
                      expand="full"
                      size="small"
                      fill="outline"
                      color="secondary"
                      (click)="mostrarLogin()">
            Ingresar
          </ion-button>
      </ion-col>

      <ion-col>
        <ion-button shape="round"
                    expand="full"
                    size="small"
                    fill="outline"
                    color="secondary"
                    (click)="mostrarRegisto()">
          Registrarme
        </ion-button>
      </ion-col>

    </ion-row>



  </ion-toolbar>
</ion-footer>
